.dropdown-item:focus,
.dropdown-item:hover {
  color: #2460bb !important;
}

.nav-link:hover {
  color: #2460bb !important;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #fff !important;
}

@media only screen and (max-width: 768px) {
  .dropdown-item {
    margin: 10px 0 10px 0;
  }
  .nav-link {
    margin: 10px 0 10px 0;
  }
}
