.size-react-placeholder {
  width: 110px !important;
  height: 110px !important;
}

@media screen and (min-width: 375px) {
  .size-react-placeholder {
    width: 160px !important;
    height: 160px !important;
  }
}

@media screen and (min-width: 425px) {
  .size-react-placeholder {
    width: 180px !important;
    height: 180px !important;
  }
}

@media screen and (min-width: 768px) {
  .size-react-placeholder {
    width: 220px !important;
    height: 220px !important;
  }
  .titleCard {
    font-size: 0.87rem !important;
  }
}

@media screen and (min-width: 1024px) {
  .size-react-placeholder {
    width: 100px !important;
    height: 100px !important;
  }
}

@media screen and (min-width: 1440px) {
  .size-react-placeholder {
    width: 160px !important;
    height: 160px !important;
  }
}

@media screen and (min-width: 2560px) {
  .size-react-placeholder {
    width: 200px !important;
    height: 200px !important;
  }
}
